.user_access_frame {
    display: flex;
    flex-direction: column;
}

.header_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 0;
    animation: animate_logo_position 3s 3s forwards;
}

.header_padding {
    padding: 75px 75px 11px 75px;
}

#placeholder {
    height: 70px;
}

.logo_big {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    z-index: 10;
}

.logo_img {
    width: 187px;
    height: 184px;
    animation: animate_logo_img 2.5s 3s forwards;
}

.text_container {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    overflow: hidden;
    height: 70px;
    width: 0;
    animation: animate_container 4s ease-in-out 0.5s forwards;
}

.logo_text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    width: 470px;
    height: 70px;
    transform: translateX(-110%);
    animation: animate_logo_text 4s ease-in-out 0.5s forwards;

    svg {
        height: 100%;
        width: fit-content;
        flex-shrink: 0;

        path {
            fill: white;
            animation: change_text_color 2s ease-in-out 2s forwards;
        }

    }
}

.disapering_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    animation: dissapear 2.5s 3s forwards;
    background: linear-gradient(rgba(121, 126, 243, 1), rgba(49, 58, 229, 1));
}

.router_outlet {
    display: flex;
    justify-content: center;
}

.to_legal_container {
    display: flex;
    align-self: center;
    gap: 31px;
    padding: 25px 0;

    a {
        cursor: pointer;
        color: #797EF3;

        &:hover {
            text-decoration: underline;
        }

    }

}

@keyframes animate_logo_position {
    100% {
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }
}

@keyframes animate_logo_img {
    to {
        width: 70px;
        height: 70px;
    }
}

@keyframes animate_logo_text {
    50% {
        transform: translateX(0%);
    }
    60% {
        height: 70px;
    }
    100% {
        transform: translateX(0%);
        height: 30px;
    }
}

@keyframes animate_container {
    0% {
        width: 0;
    }

    50% {
        width: 470px;
    }

    60% {
        width: 470px;
    }

    100% {
        width: 195px;
    }
}

@keyframes change_text_color {
    75% {
        fill: white;
    }

    100% {
        fill: black;
    }
}

@keyframes dissapear {
    100% {
        z-index: -1;
        opacity: 0;
    }
}