.user_access_frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
}

.user_access_frame_center {
    justify-content: center;
}

.header_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 0;
    max-width: 1920px;
}

.header_container_animation {
    animation: animate_logo_position 1.5s 1.5s forwards;
}

.header_container_animationed {
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.header_padding {
    padding: 75px 75px 11px 75px;
}

#placeholder {
    height: 70px !important;
}

.logo_big {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    z-index: 10;
}

.logo_img {
    width: 187px;
    height: 184px;
    animation: animate_logo_img 1.25s 1.5s forwards;
}

.text_container {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    overflow: hidden;
    height: 70px;
    width: 0;
}

.text_container_animation {
    animation: animate_container 2s ease-in-out 0.5s forwards;
}

.text_container_animationed {
    width: 195px;
}

.logo_text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    width: 470px;
    height: 100%;
    background-image: url(../../assets/logo/logo_text_light.svg);
    background-repeat: no-repeat;
    background-size:contain;
    transform: translateZ(0); 
    transform: translateX(-110%);
}

.logo_text_animation {
    opacity: 1;
    will-change: transform;
    image-rendering: crisp-edges;
    animation: animate_logo_text 2s ease-in-out 0.5s forwards;
}

.logo_text_animationed {
    transform: translateX(0%);
    height: 30px !important;
    width: 195px;
    background-image: url(../../assets/logo/logo_text_dark.svg);
}

.disapering_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    animation: dissapear 1.25s 1.5s forwards;
    background: linear-gradient(rgba(121, 126, 243, 1), rgba(49, 58, 229, 1));
}

.router_outlet {
    display: flex;
    justify-content: center;
}

.to_register_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    gap: 10px;
    top: 75px;
    right: 75px;

    a {
        cursor: pointer;
        color: #797EF3;

        &:hover {
            text-decoration: underline;
        }

    }
}

.to_legal_container {
    display: flex;
    align-self: center;
    gap: 31px;
    padding: 25px 0;

    a {
        cursor: pointer;
        color: #797EF3;

        &:hover {
            text-decoration: underline;
        }

    }

}

@keyframes animate_logo_position {
    100% {
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }
}

@keyframes animate_logo_position_830 {
    100% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

@keyframes animate_logo_img {
    to {
        width: 70px;
        height: 70px;
    }
}

@keyframes animate_logo_text {

    50% {
        transform: translateX(0%);
        height: 70px;
        background-image: url(../../assets/logo/logo_text_light.svg);
    }

    100% {
        transform: translateX(0%);
        height: 30px;
        background-image: url(../../assets/logo/logo_text_dark.svg);
    }
}

@keyframes animate_logo_text_830 {
    50% {
        transform: translateX(0%);
    }

    60% {
        height: 50px;
        background-image: url(../../assets/logo/logo_text_light.svg);
    }

    100% {
        transform: translateX(0%);
        height: 30px;
        background-image: url(../../assets/logo/logo_text_dark.svg);
    }
}

@keyframes animate_container {
    0% {
        width: 0;
    }

    50% {
        width: 470px;
    }

    60% {
        width: 470px;
    }

    100% {
        width: 195px;
    }
}

@keyframes animate_container_830 {
    0% {
        width: 0;
    }

    50% {
        width: 330px;
    }

    60% {
        width: 330px;
    }

    100% {
        width: 195px;
    }
}

@keyframes dissapear {
    100% {
        z-index: -1;
        opacity: 0;
    }
}

@media (max-width: 830px) {

    .header_container {
        align-self: center;
    }

    .header_container_animation {
        animation-name: animate_logo_position_830;
    }

    .header_container_animationed {
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .text_container_animation {
        animation-name: animate_container_830;
    }

    .text_container_animationed {
        width: 195px;
    }

    .logo_text {
        height: 50px;
    }

    .logo_text_animation {
        animation-name: animate_logo_text_830;
    }

    .logo_img {
        width: 127px;
        height: 124px;
    }

    .to_register_container {
        position: static;
        align-self: center;
        align-items: center;
        padding-top: 25px;

        a {
            border: 1px solid #797EF3;
            border-radius: 25px;
            padding: 5px 15px;
            text-decoration: none !important;
        }

    }

}

@media (max-width: 550px) {
    .header_padding {
        padding: 75px 0 30px 0;
    }
}