.login_frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 506px;
    width: calc(90dvw - 100px);
    max-height: 663px;
    height: calc(90dvh - 106px);
    padding: 50px 53px;
    border-radius: 30px;
    background-color: white;
}

