:root {
    --background_color: #ECEEFE;
}

body {
    margin: 0;
    max-width: 100dvw;
    width: 100%;
    height: 100dvh;
    font-family: "Nunito";
    background-color: var(--background_color);
}

h1,
h2,
h3,
p {
    margin: 0;
}


.input_container {
    display: flex;
    position: relative;
    width: 100%;
}

.data_input {
    padding: 18px 32px 18px 86px;
    width: 100%;
    border: none;
    border-radius: 100px;
    background-color: var(--background_color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    &:hover {
        outline: 1px solid #686868;
    }

    &:focus {
        outline: 1px solid #9747FF;
    }

    &:focus+.icon_container {
        svg {
            path {
                fill: black;
            }
        }
    }

}

.icon_container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);
}

.text_big {
    color: #444DF2;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
}

.text_small {
    color: var(--Black, #000);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.primary_button {
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 25px;
    border: 1px solid #444DF2;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #444DF2;

    &:hover {
        background-color: #797EF3;
        border-color: #797EF3;
    }

    &:active {
        background-color: #444DF2;
        border-color: #444DF2;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #686868;
        border-color: #686868;
    }

}

.secondary_button {
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 25px;
    border: 1px solid #444DF2;
    font-size: 18px;
    font-weight: 700;
    color: #444DF2;
    background-color: white;

    &:hover {
        color: white;
        background-color: #535AF1;
        border-color: #535AF1;
    }

    &:active {
        background-color: #444DF2;
        border-color: #444DF2;
    }

    &:disabled {
        cursor: not-allowed;
        color: #686868;
        border-color: #686868;
        background-color: white;
    }

}

@media (max-width: 550px) {
    .text_big {
        font-size: 38px;
    }
    .text_small {
        font-size: 17px;
    }
}

@media (max-width: 400px) {

    .data_input {
        padding: 13px 32px 13px 62px;
    }

    .icon_container {
        left: 25px;
    }

    .text_big {
        font-size: 28px;
    }
}